.App {
  text-align: center;
}

.App {
  background-color: #abbfe6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(48, 18, 59);
}

.devider-section-top, .devider-section-bottom{
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.devider-section-top{
  min-height: 20vh;
  width: 100vw;
  background-color: #83eee0;
}

.devider-section-bottom{
  min-height: 20vh;
  width: 100vw;
  background-color: #93e169;
}